//http://pinetools.com/image-color-picker
$bootstrap-warning : #FFC107;
$bootstrap-danger : #da4d3c;
$bootstrap-primary : #007bff;
$bootstrap-secondary : #6c757d;
$bootstrap-info : #17a2b8;
$bootstrap-success : #28a745;
$bootstrap-light : #f8f9fa;